<div class="container mt-4">
  <div class="row">
    <!-- Blog Content Column -->
    <div class="col-lg-8">
      <h2 class="card-title">{{post.title}}</h2>
      <p>Posted on {{formatDate post.createdAt}} by {{post.User.name}}</p>
      <p>{{post.content}}</p>
    </div>
  </div>

  {{!-- Only include comments if you have that functionality implemented --}}
  {{#if post.Comments}}
    <div class="row mt-4">
      <div class="col-lg-8">
        <h3>Comments</h3>
        {{#each post.Comments}}
          <div class="comment">
            <p>{{this.text}}</p>
            <p>Commented by {{this.User.name}} on {{formatDate this.createdAt}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{!-- Include the comment form if you have user authentication implemented --}}
  {{#if loggedIn}}
    <div class="row mt-4">
      <div class="col-lg-8">
        <form action="/posts/{{post.id}}/comments" method="POST">
          <textarea name="comment" required placeholder="Leave a comment..."></textarea>
          <button type="submit" class="btn btn-primary mt-2">Submit Comment</button>
        </form>
      </div>
    </div>
  {{/if}}
</div>
